              genre  popularity
11        Adventure   47.856634
9         Animation   47.795233
4   Science Fiction   44.961127
8           Fantasy   44.328318
13           Action   38.781424

{'id': 0, 'name': 'Action'}

ImportError: No module named tmdb3

[["{0: 'Christian Bale', 1: 'Heath Ledger', 2: 'Aaron Eckhart', 3: 'Michael Caine', 4: 'Maggie Gyllenhaal', 5: 'Gary Oldman', 6: 'Morgan Freeman'}"]]
   id            title                                             genres                                               cast               crew  runtime  vote_count  monthFact  actorFact  genFact       budget       revenue  popularity  vote_average  IMDB  rotten  metaC release_date    created
0  66  The Dark Knight  [{"id": 18, "name": "Drama"}, {"id": 28, "name...  {0: 'Christian Bale', 1: 'Heath Ledger', 2: 'A...  Christopher Nolan      152       12002          1          1        1  185000000.0  1.004558e+09      187.32           8.2   0.9    0.94   0.82   2008-07-16 1980-06-05